* {
    margin : 0;
    padding : 0;
    font-family: sans-serif;
}
.nav-item{
    padding-right: 20px;
}
.active{
    background-color: #ac18b1 !important;
    color: white !important;
    border-radius: 5px;
}

.hero{
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.hero .title {
   position: relative;
   margin-top: 20%;
}

.img-fluid img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-top: 20%;
    align-items: center;
    border-radius: 20px;
}